@charset "UTF-8";

/* 
    em HTML o 'id' é referenciado em CSS com '#' (hashtag) | id = # (1 por tag/elemento)
    em HTML 'class' é referenciado em CSS com '.' (ponto) | class = . (pode usar em várias tags/elementos)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(41, 128, 38);
}

h1#principal {
   text-align: center;
   background-color: rgb(45, 156, 41);
   color: white;
}

h2 {
    color: rgb(48, 97, 48);
}

.basico {
    color: rgb(37, 104, 34) ;
}

.intermediario {
    color: rgb(196, 193, 16);
}

.avancado {
    color: rgb(156, 41, 41);

}

.destaque {
    background-color:rgb(223, 219, 18)
}