@charset "UTF-8";
@font-face {
  font-family: 'idroid';
  src: url('fontes/idroid.otf') format('opentype');
}

body {
    margin: 0;
    background-color: rgba(67, 226, 138, 0.719);
    font-family: 'idroid', sans-serif;
}

header {
    background: linear-gradient(to bottom, #4fb97f, #1a461e);
    height: 230px;
    margin: auto;
}

header > div {
    text-align: center;
}

#header-title {
    color: white;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: lighter;
}

#header-paragraph {
    padding-top: 15px;
    color: rgba(255, 255, 255, 0.822);
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 0;
    padding: 0;
}

nav > ul > a {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    padding-bottom: 14px;
    color: white;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

nav > ul > a > li {
    height: 100px;
}

main {
    margin-left: 250px;
    margin-right: 250px;
    background-color: white;
}

main > h1 {
    margin: 0;
    padding-top: 20px;
    margin-left: 15px;
    color: darkgreen;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-indent: 20px;
    margin-left: 20px;
    color: black;
}

h2 {
    background: linear-gradient(to right, rgba(0, 148, 62, 0.514), white);
    color: darkgreen;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

article {
    justify-content: center;
    align-items: center;
    display: block;
}

iframe {
    width: 500px;
    max-width: 100%;
    height: 300px;
    margin: 20px;
    border: 20px solid darkgreen;
    display: block;
}

#video-bg {
    background-color: darkgreen;
}

